* {
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
    background-color: #b0cb2c;
}

.centering {
    margin: 0 auto;
}

.fullWidth {
    width: 100%;
}

::selection ,::-moz-selection ,::-webkit-selection {
    background-color: #70840e;
    color: #fff;
    text-shadow: 1px 1px 0px #333;
    filter: dropshadow(color=#333, offx=1, offy=1);
}

p {
    font-family: Arial, sans-serif;
    line-height: 150%;
    margin: 1em 0;
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}

p>a {
    border-bottom-style: dotted;
    border-bottom-width: 0.15em;
    border-color: #70840e;
    color: #70840e;
    text-decoration: none;
}

p>a:hover {
    background-color: #70840e;
    color: #d4e583;
    border-color: #d4e583;
    text-shadow: 2px 2px 0px #333;
    filter: dropshadow(color=#333, offx=2, offy=2);
}

.emphysis {
    background-color: #d4e583;
}

.term {
    font-style: italic;
}

#nav {
    font-family: 'Tulpen One', cursive;
    background-color: #000;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.transparent {
    opacity: 0.2;
}

.transparent:hover {
    opacity: 0.6;
}

.navCnt {
    display: inline-block;
}

.navCnt:hover {
    -webkit-box-shadow: inset 10px 0px 5px -5px #b0cb2c;
    box-shadow: inset 0px 10px 5px -5px #b0cb2c;
    cursor: pointer;
}

.navCnt > a {
    text-decoration: none;
    color: #fff;
}

.navFocus {
    background-color: #70840e;
}

#contentDiv {
    margin-top: 150px;
}

.page {
    background: url(../image/sketch.jpg);
    
    margin-top: 5em;
    
    -webkit-box-shadow: 0px 0px 10px 5px #333;
    box-shadow: 0px 0px 10px 5px #333;
}

.pageBack {
    width: 100%;
    height: 200px;
    background: url(../image/sketch.jpg);
    z-index: -10;
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 5px #333;
    box-shadow: 0px 0px 10px 5px #333;
}

.rotLeft {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

.rotRight {
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

.rotTop.rotLeft {
    margin-bottom: -200px;
    margin-top: 100px;
    left: 10px;
}

.rotTop.rotRight {
    margin-bottom: -250px;
    left: -10px;
}

.pageTitle{
    font-family: 'Coda', cursive;
    border-style: none none solid none;
    border-width: 0.05em;
    text-shadow: 2px 2px 0px #fff;
    filter: dropshadow(color=#fff, offx=2, offy=2);
    margin-bottom: 0.25em;
}

.title {
    font-family: 'Tulpen One', cursive;
    margin-top: 0.5em;
    margin-bottom: -0.1em;
    color: #70840e;

    text-shadow: 1px 1px 0px #666;
    filter: dropshadow(color=#666, offx=1, offy=1);
    
    background-color: #70840e;
    color: #fff;
    text-shadow: 1px 1px 0px #333;
    filter: dropshadow(color=#333, offx=1, offy=1);
    -webkit-box-shadow: -2px 1px 5px 2px #333;
    box-shadow: -2px 1px 5px 2px #333;
}

.blogTime {
    font-family: 'Tulpen One', cursive;
    color: #666;
}

.allBlogTime {
    font-family: 'Tulpen One', cursive;
    color: #666;
    margin-top: 0.4em;
}

.blogLink {
    color: inherit;
    text-decoration: none;
}

.imageShadow {
    -webkit-box-shadow: 0px 0px 10px 5px #666;
    box-shadow: 0px 0px 10px 5px #666;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

.more {
    -webkit-box-shadow: inset 0px 0px 4px 1px #70840e;
    box-shadow: inset 0px 0px 4px 1px #70840e;
    color: #70840e;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    cursor: pointer;
    
    font-family: Arial, sans-serif;
    padding: 0.5em;
}

.more+div {
    display: none;
    margin: 0.5em 0;
}

.moreHref {
    font-family: 'Tulpen One', cursive;
    color: #000;
    font-size: 2em;
    padding: 0.2em 0.5em;
    display: block;
}

.moreHref:hover {
    background-color: #70840e;
    color: #fff;
}
