#contentDiv {
    width: 100%;
}

#content {
    width: 90%;
}

p {
    font-size: 1.2em;
}

.navCnt {
    padding: 5px 20px;
    font-size: 3em;
}

.page {
    width: 100%;
    
    display: inline-block;
}

.pageCnt {
    padding: 1.5em;
}

.rotBottom.rotLeft {
    margin-top: -150px;
    left: -10px;
}

.rotBottom.rotRight {
    margin-top: -200px;
    margin-bottom: 100px;
    left: 10px;
}

.pageTitle {
    font-size: 2.5em;
}

.title {
    font-size: 2.8em;
    margin-left: -1em;
    padding-left: 1em;
}

.allBlogTime, .blogTime {
    font-size: 2em;
}

#footerDiv {
    width: 100%;
}

#footerImg {
    width: 100%;
    height: 10px;
    background: url(../image/footer.png);
    background-repeat: repeat-x;
}

#footerCnt {
    width: 100%;
    background-color: #000;
}

#footer {
    width: 1000px;
    margin: 0 auto;
    padding: 2em 0;
    color: #fff;
}
