* {
    padding: 0px;
    margin: 0px;
}

body {
    overflow: hidden;
    background-color: #b0cb2c;
}

.centering {
    margin: 0 auto;
}

.fullWidth {
    width: 100%;
}

::selection, ::-moz-selection, ::-webkit-selection {
    background-color: #70840e;
    color: #fff;
    text-shadow: 1px 1px 0px #333;
    filter: dropshadow(color=#333, offx=1, offy=1);
}

.title {
   font-family: 'Tulpen One', cursive;
   margin-top: 0.5em;
   color: #70840e;
   
   text-shadow: 1px 1px 0px #666;
   filter: dropshadow(color=#666, offx=1, offy=1);
   
   background-color: #70840e;
   color: #fff;
   text-shadow: 1px 1px 0px #333;
   filter: dropshadow(color=#333, offx=1, offy=1);
   -webkit-box-shadow: -2px 1px 5px 2px #333;
   box-shadow: -2px 1px 5px 2px #333;
}

p {
    font-family: 'Times New Roman', serif;
    line-height: 120%;
    text-indent: 2em;
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
    margin: 0.8em 0;
}

p>a {
    color: #70840e;
    text-decoration: none;
}

p>a:hover {
    background-color: #70840e;
    color: #d4e583;
    border-color: #d4e583;
    text-shadow: 1px 1px 0px #333;
    filter: dropshadow(color=#333, offx=2, offy=2);
}

p.subTitle {
    text-indent: 0;
    font-family: 'Great Vibes', Courier, Arial;
}

.emphysis {
    background-color: #d4e583;
    font-weight: bold;
    font-family: Courier, Arial;
}

.term {
    font-style: italic;
}

#titleDiv {
    width: 100%;
    height: 600px;
    opacity: 0;
    float: left;
}

#titlePanel {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

#titleTao {
    width: 600px;
    height: 600px;
}

#titleCircle {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    margin: 45px 0 0 50px;
    position: relative;
    top: -600px;
}

#titleWords {
    position: relative;
    top: -1150px;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
}

#contentDiv {
    display: none;
}

#iconDiv {
    opacity: 0.4;
    float: right;
}

#iconDiv>a {
    text-decoration: none;
}

#iconDiv:hover {
    opacity: 1.0;
}

#iconDiv > a  > img {
    opacity: 0.6;
}

#iconDiv > a  > img:hover {
    opacity: 1.0;
}

.page {
    background: url(../image/sketch.jpg);
    
    margin-top: 5em;
    
    -webkit-box-shadow: 0px 0px 10px 5px #666;
    box-shadow: 0px 0px 10px 5px #333;
}

.pageBack {
    width: 100%;
    height: 200px;
    background: url(../image/sketch.jpg);
    z-index: -10;
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 5px #333;
    box-shadow: 0px 0px 10px 5px #666;
    -webkit-backface-visibility: hidden;
}

.rotLeft {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

.rotRight {
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

.rotTop.rotLeft {
    margin-bottom: -200px;
    margin-top: 100px;
    left: 10px;
}

.rotTop.rotRight {
    margin-bottom: -250px;
    left: -10px;
}

.pageTitle {
    font-family: 'Great Vibes', cursive;
    text-align: right;
    
    text-shadow: 0px 0px 10px #666;
    filter: dropshadow(color=#fff, offx=2, offy=2);
}

#footerDiv {
    display: none;
}


#contentDiv {
    width: 100%;
}

#content {
    width: 80%;
}

p {
    font-size: 1.25em;
}

.subTitle {
    font-size: 2.8em;
    margin-top: 0;
}

.title {
    font-size: 3.5em;
    margin-left: -2em;
    padding-left: 2em;
}

.page {
    width: 100%;
    
    display: inline-block;
}

.pageCnt {
    padding: 10%;
}

.pageTitle {
    font-size: 5em;
    margin-top: 1em;
}

.rotBottom.rotLeft {
    margin-top: -150px;
    left: -10px;
}

.rotBottom.rotRight {
    margin-top: -200px;
    margin-bottom: 100px;
    left: 10px;
}

.leftPage, .rightPage {
    float: left;
    padding-bottom: 5em;
}

.leftPage {
    width: 30%;
}

.leftPage>img, .leftPage>a>img {
    margin-top: 2em;
}

.rightPage {
    width: 65%;
    padding-left: 5%;
}

#footerDiv {
    width: 100%;
}

#footerImg {
    width: 100%;
    height: 10px;
    background: url(../image/footer.png);
    background-repeat: repeat-x;
}

#footerCnt {
    width: 100%;
    background-color: #000;
}

#footer {
    width: 1000px;
    margin: 0 auto;
    padding: 2em 0;
    color: #fff;
}
