/* For screen width [800, 1024) */

#mynameDiv {
    width: 500px;
}
                        
#hgtcDiv {
    width: 80%;
}

#navContent {
    width: 800px;
    height: 100px;
}

#taoismNav {
    width: 100%;
}

#content {
    width: 100%;
    background-color: #aa6;
    min-height: 1000px;
}

.page {
    width: 100%;
}

.leftPage {
    width: 38.2%;
    float: left;
    background-color: #aa0;
    min-height: 300px;
}

.rightPage {
    width: 61.8%;
    float: left;
    background-color: #0aa;
    min-height: 300px;
}

