#cssreel {
    display: none;
}

#cssaward {
    display: none;
}

#iconDiv {
    padding: 20px;
    width: 240px;
    margin: 0 auto;
}

#nav {
    position: none;
}

#contentDiv {
    width: 100%;
}

#content {
    width: 90%;
}

p {
    font-size: 1.1em;
}

p.title {
    font-size: 1.5em;
}


.page {
    width: 100%;
    
    display: inline-block;
}

.pageCnt {
    padding: 1.5em;
}

.rotBottom.rotLeft {
    margin-top: -200px;
    left: -10px;
}

.rotBottom.rotRight {
    margin-top: -200px;
    margin-bottom: 100px;
    left: 10px;
}

.pageTitle {
    font-size: 4em;
    padding-bottom: 0.1em;
    margin-bottom: 0.2em;
}

.leftPage, .rightPage {
    padding-bottom: 1.5em;
}

.leftPage {
    width: 75%;
    margin: 0 auto;
}

.right {
    width: 100%;
}

.leftPage>img, .leftPage>a>img {
    margin-top: 2em;
}

#footerDiv {
    width: 100%;
}

#footerImg {
    width: 100%;
    height: 10px;
    background: url(../image/footer.png);
    background-repeat: repeat-x;
}

#footerCnt {
    width: 100%;
    background-color: #000;
}

#footer {
    width: 1000px;
    margin: 0 auto;
    padding: 2em 0;
    color: #fff;
}
