$clr-primary:          #22c3aa;
$clr-primary-light:    lighten($clr-primary, 20%);

$clr-gray:             #666;
$clr-light:            #aaa;
$clr-lighter:          #ddd;
$clr-lightest:         #f3f3f3;

$clr-text:             $clr-gray;
$clr-border:           $clr-lighter;
$clr-border-light:     $clr-lightest;

$mobile-width: 400px;


@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url('http://zhangwenli.com/blog/font/lato900.woff') format('woff');
}



html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: lighten($clr-primary, 50%);
    background-image: radial-gradient(ellipse farthest-corner at 50% 0,
        rgba(34, 195, 170, 0.15) 0%, rgba(34, 195, 170, 0.5) 100%);
    position: relative;
    font-family: Lato;
}

#mobile {
    position: absolute;
    width: $mobile-width;
    left: 50%;
    margin-left: -$mobile-width / 2;
    top: 40px;
    bottom: 40px;
    background-color: white;
}
