doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=100%, initial-scale=1')
        link(rel='shortcut icon', href='blog/img/owl.ico')

        script(type='text/javascript').
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?dcee78e565eeaedc76defba5d096b344";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-38205696-1']);
            _gaq.push(['_trackPageview']);
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

            // test if supports svg
            var isSvgSupported = document.implementation.hasFeature(
                'http://www.w3.org/TR/SVG11/feature#Image', '1.1');
            _gaq.push(['_trackEvent', 'Support', "Svg", isSvgSupported]);


        title Ovilia
        link(href='css/main.min.css', rel='stylesheet', type='text/css')

    body
        #mobile.has-prompt
            #mobile-head
                #mobile-head-title 与羡辙聊天中

            #mobile-body
                #mobile-body-bg
                #mobile-body-content
                    .msg-time 21:40
                    .msg-row.msg-xianzhe
                        .msg.msg-txt 很高兴遇见你！
                    .msg-row.msg-me
                        .msg.msg-txt 真的吗？
                    .msg-row.msg-xianzhe
                        .msg.msg-txt 好吧……
                    .msg-row.msg-xianzhe
                        .msg.msg-txt 我也就客气一下，你别当真
                    .msg-row.msg-me
                        .msg.msg-txt 这是一条很长的回复，它应该在适当的位置换行。
                    .msg-row.msg-me
                        .msg.msg-txt 连续的两条消息
                    .msg-row.msg-xianzhe
                        .msg.msg-txt 很高兴遇见你！
                    .msg-row.msg-me
                        .msg.msg-txt 真的吗？
                    .msg-row.msg-xianzhe
                        .msg.msg-txt 好吧……
                    .msg-row.msg-xianzhe
                        .msg.msg-txt 我也就客气一下，你别当真
                    .msg-row.msg-me
                        .msg.msg-txt 这是一条很长的回复，它应该在适当的位置换行。
                    .msg-row.msg-me
                        .msg.msg-txt 连续的两条消息

            #mobile-foot
                #prompt
                    #prompt-head
                        .say-something 说点什么……
                        a(href='javascript:;').close-btn
                    #prompt-body
                        ul.responses
                            li
                                a(href='javascript:;') 很高兴遇见你！
                            li
                                a(href='javascript:;') 真的吗？
                            li
                                a(href='javascript:;') 我很怀疑这点……
                        .next-topic
                            h3 聊点别的？
                            ul.topics
                                li
                                    a(href='javascript:;') 爱好
                                li
                                    a(href='javascript:;') 性别
                                li
                                    a(href='javascript:;') 性格
                                li
                                    a(href='javascript:;') 经历

                #input-hint.say-something 说点什么……

        //- #link-panel
        //-     li
        //-         a(href='blog', target='_blank', onclick='_gaq.push(["_trackEvent", "ToBlog", "InHome", "/"]);') Blog
        //-     li
        //-         a(href='https://github.com/Ovilia', target='_blank', onclick='_gaq.push(["_trackEvent", "Follow", "GitHub", "/"]);') GitHub
        //-     li
        //-         a(href='http://weibo.com/plainjane', target='_blank', onclick='_gaq.push(["_trackEvent", "Weibo", "Blog", "/"]);') Weibo
        //-     li
        //-         a(href='http://zhangwenli.com/blog/img/gongzhonghao.jpg', target='_blank', onclick='_gaq.push(["_trackEvent", "Follow", "Weixin", "/"]);') Weixin
        //-     li
        //-         a(href='https://dribbble.com/wenli', target='_blank', onclick='_gaq.push(["_trackEvent", "Follow", "Dribbble", "/"]);') Dribbble
        //-     li
        //-         a(href='http://www.douban.com/people/ovilia1024/', target='_blank', onclick='_gaq.push(["_trackEvent", "Follow", "Douban", "/"]);') Douban
        //-     li
        //-         a(href='https://twitter.com/OviliaZhang', target='_blank', onclick='_gaq.push(["_trackEvent", "Follow", "Twitter", "/"]);') Twitter
        //-     li
        //-         a(href='mailto:me@zhangwenli.com', target='_blank') Email

        //- script(src='js/zepto.min.js')
        //- script(src='js/index.js')
