<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="content">
        <div id="mobile">
            <div id="system-status" class="theme-dark">
                <div id="system-status-left" class="system-status-content">
                    <status-signal></status-signal>
                </div>
                <div id="system-status-center" class="system-status-content">
                    <status-time></status-time>
                </div>
                <div id="system-status-right" class="system-status-content">

                </div>
            </div>
            <div class="mobile-out-app" v-if="!inApp">
                <div class="app-container">
                    <app app-name="GitHub"></app>
                    <app app-name="Gooday"></app>
                    <app app-name="知乎"></app>
                    <app app-name="微博"></app>
                    <app app-name="微信"></app>
                </div>
                <div class="mobile-out-app-bottom app-container">
                    <app></app>
                    <app></app>
                    <app></app>
                    <app></app>
                </div>
            </div>
            <div class="mobile-in-app" v-if="inApp">
                <div class="mobile-head">

                </div>
                <div class="mobile-body">
                    <div class="mobile-body-bg"></div>
                    <div class="mobile-body-content">
                        aaa
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38205696-1']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>