.app-album {
    .album-group {
        &:first-child {
            margin-top: -$distance-sm;

            h3 {
                margin-top: 0;
            }
        }
    }

        h3 {
            margin: $distance-sm (-$distance-sm + 2px);
            padding: $distance-sm - 2px;
            background-color: lighten($clr-bg-light, 4%);
        }

        .album-photo {
            width: 25%;
            height: 85px;
            display: inline-block;
            padding: 1px 3px;
        }

            .album-photo-img {
                width: 100%;
                height: 100%;
                display: block;
                background-size: cover;
                image-rendering: pixelated;
                border-radius: 6px;
                border: 2px solid lighten($clr-border-light, 22%);
            }
}
