.mobile-out-app {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 25px;
}

    .app-group {
        width: 100%;
        @include clearfix;
        overflow: hidden;
        margin-bottom: $distance-sm;
        box-sizing: border-box;
        @include nearest-neighbor;
    }

        .app-group-title {
            color: $clr-text;
            padding: $distance-inline;
            font-size: $font-size-smer;
            @include nearest-neighbor;
        }

        .app-group-content {
            padding: $distance-sm 0;
        }

    .mobile-out-app-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 75px;

        &.app-container {
            padding-top: $distance-sm;
            padding-bottom: $distance-sm;
        }

        .app {
            margin-bottom: 0;
        }

            .app-name {
                display: none;
            }

            .app-icon {
                margin-bottom: 0;
            }
    }

@media (max-width: 480px) {
    .mobile-out-app {
        padding-top: $distance-sm;
    }
}
