.mobile-out-app {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: #444;
    background-image: url('https://zwl-1256209664.cos.ap-shanghai.myqcloud.com/home/bg.jpg');
    background-size: cover;
}
