$scroll-bar-width: 8px;


.mobile-body {
    position: absolute;
    top: $mobile-head-height;
    bottom: 0;

    width: 100%;

    a {
        color: $clr-primary;
        text-decoration: none;
    }
}

    .mobile-body-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        overflow: hidden;

        color: $clr-text;

        // fix touch bug
        z-index: 1;
    }

        .ink-msg-container {
            width: 100%;
            height: 100%;
        }

        .msg-container {
            position: relative;
            width: 100%;
            height: 100%;
            padding: $distance-sm $distance-h;
            -webkit-overflow-scrolling: touch;
        }

    .mock-msg-row {
        position: absolute;
        top: -1000px;
        left: 18px;
        right: 10px;
        visibility: hidden;
    }
