.mobile-in-app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}

.mobile-head {
    @extend %system-status-content;
    height: $mobile-head-height - 1;
    padding-top: $system-status-height;
    font-size: $font-size-lg;
    color: $clr-text-dark;

    .theme-dark & {
        color: $clr-text-lightest;
    }
}

    .mobile-head-center {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        font-weight: bold;
    }

    .mobile-head-right {
        position: relative;
        float: right;
        text-align: right;
        padding-right: $distance-h;
    }
