.msg-time {
    margin: 10px 5px;

    font-size: $font-size-sm;

    text-align: center;
}

.msg-row {
    @include clearfix;
    margin-bottom: 10px;
}

.msg-xianzhe {
    margin-bottom: $distance-sm;

    & + .msg-xianzhe {
        margin-top: -8px;
    }
}

.msg-audience {
    margin-bottom: $distance-sm;

    & + .msg-audience {
        margin-top: -8px;
    }
}

    .msg {
        display: inline-block;
        position: relative;

        padding: 8px 14px;
        max-width: 75%;
        overflow: hidden;
        word-wrap: break-word;

        font-size: $font-size-basic;
        line-height: 20px;

        transition: width .12s ease-out, height .12s ease-out;
        transform: translate3d(0, 0, 0);

        img {
            margin: 8px 0;

            &.msg-bg {
                margin: 0;
            }
        }

        .dot {
            position: relative;
            display: inline-block;
            width: 10px;
            height: 10px;
            background: $clr-text;
            border-radius: 50%;
            transform-origin: 50% 50%;
            animation: dotZoomIn 1.4s infinite;

            &:first-child {
                animation-delay: -0.32s;
            }

            &:nth-child(2) {
                animation-delay: -0.16s;
            }

            & + .dot {
                margin-left: 5px;
            }
        }
    }

    // .msg-xianzhe {
    // }

    .msg-audience {
        text-align: right;
        color: $clr-text-dark;
    }

    .msg-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .msg-bounce-in-left {
        transform-origin: 0 0;
        animation: msgBounceIn $msg-animation-duration;
    }

    .msg-bounce-in-right {
        transform-origin: 100% 100%;
        animation: msgBounceIn $msg-animation-duration;
    }


@media (max-width: 480px) {
    .msg {
        font-size: $font-size-lg;
    }
}
