#mobile {
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;

    width: $mobile-width;
    margin: 0 auto;

    background-color: white;
    border-radius: $radius-lg;
    box-shadow: 0 0 30px 0 rgba(34, 195, 170, 0.5);

    transform: translate3d(0, 0, 0);
}

@media (max-width: 480px) {
    #mobile {
        width: auto;

        border-radius: 0;

        &.has-prompt:after {
            border-radius: 0 !important;
        }
    }

    #mobile-body {
        top: 0 !important;
    }

    #prompt-body {
        border-radius: 0 !important;
    }
}
