$clr-primary:          #786f69;
$clr-primary-light:    #d1c4af;
$clr-primary-dark:     #585356;
$clr-primary-darker:   #504a4b;

$clr-secondary-light:  #a39990;
$clr-secondary-dark:   #585153;

$clr-mask: rgba(200, 200, 200, 0.3);

$clr-bg-light: $clr-secondary-light;
$clr-bg-lighter: lighten($clr-secondary-light, 10%);
$clr-bg-dark: $clr-secondary-dark;

$clr-text: $clr-primary-dark;
$clr-text-light: $clr-primary;
$clr-text-lighter: $clr-secondary-light;
$clr-text-lightest: lighten($clr-primary-light, 10%);
$clr-text-dark: $clr-primary-darker;

$clr-border: $clr-primary-darker;
$clr-border-light: $clr-secondary-dark;
$clr-border-dark: darken($clr-primary-darker, 10%);

$mobile-width: 360px;
$mobile-head-height: 55px;
$bottom-input-height: 45px;

$msg-radius: 20px;
$msg-animation-duration: 0;//.4s;

$prompt-animation-duration: 0;// 0.3s;

$distance-basic: 15px;
$distance-lg: 20px;
$distance-sm: 10px;
$distance-smer: 6px;
$distance-h: 18px;
$distance-inline: 5px;

$radius: $distance-sm;
$radius-lg: $distance-lg;
$radius-sm: $distance-inline;

$system-status-height: 30px;
$out-app-bottom-height: 75px;
$app-size: 48px;

$font-size-basic: 14px;
$font-size-sm: 13px;
$font-size-smer: 12px;
$font-size-lg: 15px;
